<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="style.css">
        <title>bmcraftish</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class ="brand">
                    <a href="index.html"> Bm_Craftish</a>
                </div>
            
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign in</a>
            </div>
        </header>
        </div>
        <aside>
            Shopping Categories
        </aside>
        <main class="main">
            <ul>
                <li>product 1</li>
                <li>product 2</li>
                <li>product 3</li>
                <li>product 4</li>
                <li>product 5</li>
                <li>product 6</li>
            </ul>
        </main>
        <footer class="footer">All Rights Reserved</footer>
    </body>
</html>