<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <!-- Favicon -->
<link rel="icon" type="image/png" href="images/logo.jpg" />
  <title>bmcraftish</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Bm_Craftish</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Bags</a>
        </li>

        <li>
          <a href="index.html">Tops</a>
        </li>

        <li>
            <a href="index.html">Shorts</a>
          </li>

          <li>
            <a href="index.html">Watches</a>
          </li>

          <li>
            <a href="index.html">Sweaters</a>
          </li>

          <li>
            <a href="index.html">Dresses</a>
          </li>

          <li>
            <a href="index.html">Watches</a>
          </li>

          <li>
            <a href="index.html">Scarfs</a>
          </li>

          <li>
            <a href="index.html">Skirts</a>
          </li>

          <li>
            <a href="index.html">Sleeping Bags</a>
          </li>

          <li>
            <a href="index.html">Bikini Sets</a>
          </li>

      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/Bag1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Crotchet Sling Bag</a>
              </div>
              <div class="product-brand">Crotchet</div>
              <div class="product-price">Kshs.1200</div>
              
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Bag2.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Crotchet Sling Bag</a>
              </div>
              <div class="product-brand">Crotchet</div>
              <div class="product-price">Kshs.1200</div>
              
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Bag3.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Crotchet Sling Bag</a>
              </div>
              <div class="product-brand">Crotchet</div>
              <div class="product-price">Kshs.1200</div>
              
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Bag4.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Bag</a>
              </div>
              <div class="product-brand">Crotchet</div>
              <div class="product-price">Kshs.1200</div>
              
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Top1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Crotchet Top</a>
              </div>
              <div class="product-brand">Crotchet</div>
              <div class="product-price">Kshs.1000</div>
              
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/Top2.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Crotchet Top</a>
              </div>
              <div class="product-brand">Crotchet Top</div>
              <div class="product-price">Kshs.1000</div>
              
            </div>
          </li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>